@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-background: var(--muted-background);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-cormorant-garamond); */
}

@layer base {
  .debug {
    border: 1px solid red;
  }
}

@layer utilities {
  /* FIXME: @theme should work here instead of redefining utilities */
  .font-sans {
    font-family: var(--font-geist-sans);
  }
  .font-mono {
    font-family: var(--font-geist-mono);
  }
  .font-serif {
    font-family: var(--font-cormorant-garamond);
  }
}

:root {
  --background: #fffaf4;
  --foreground: #1d1b4b;
  --muted-foreground: #9494bf;
  --accent: #5345f7;
  --muted-background: #f4eff0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
